.logo {
	position: absolute;
	top: 6px;
	margin-left: 10px;
	z-index: 0;
	font-family: Courier;
	font-size: 30px;
}

#pic {
	float: left;
	display: block;
	position: relative;
	margin-top: 6%;
	left: 51px;
}

#timer {
	float: right;
	font-family: "Courier New", "Lucida Grande", sans-serif;
	font-size: 30px;
	position: relative;
	padding-top: 6px;
	margin-right: 10px;

}

.text {
	position: relative;
	display: inline-block;
}

.CodeMirror {
	margin-top: 12%;
	position: relative;
	display: inline-block;
	border: solid 1px #eee;
}

.player1 {
	float: left;
}

.player2 {
	float: right;
}

.CodeMirror-scroll {
	overflow-x: auto;
	overflow-y: hidden;
}

#submit {
	display: inline-block;
	float: right;
	margin-right: 60px;
	margin-top: 30px;
}

.blur {
	-webkit-filter: blur(2px);
}

#outs {
	margin-left: 49px;
}

.output {
	position : relative;
	display: block;
	width: 90%;
	height: 100px;
	border: outset 1px #A5A5B5;
	/*margin-left: 5%;*/
	overflow: auto;
	/*margin-top: 40px;*/

}

#out2 {
	float: right;
}

#effects {
	margin-top: 5px;
	display: inline-block;
}


.effect {
	position: relative;
	display: inline-block;
	border-radius: 100%;
	border: solid 1px;
	width: 70px;
	height: 70px;
	border-color: #A5A5B5;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-style: outset;
}

.effect:active {
	border-style: inset;	
}

#ef1 {
	background-color: #FF8080;

}

#ef1:active {
	background-color: #FF8040;
}

#ef1:hover {
	background-color: #FF8040;
}

#ef2 {
	background-color: #FFFF66;
	top: 35px;
}

#ef3 {
	background-color: #78CF78;
}

.fake, .fake:hover, .fake:focus {
	position: relative;
	display: inline-block;
	/*border-radius: 100%;
	width: 70px;
	height: 70px;*/
	border: solid 1px;
	background-color: #A1A1A3;
}

#fake_effects {
	display: inline-block;
	margin-top: 5px;
	margin-left: 50px; 
}

#fef2 {
	top: 35px;
}

#fake_submit {
	margin-right: 13px;
	float: right;
	margin-top: 30px;

}

.p1 {
	float: left;
	width: 45%;
	margin-top: 56px;
}

.p2 {
	float: right;
	width: 45%;
	margin-top: 5px;
	margin-right: 51px
}

